@import url('https://fonts.googleapis.com/css?family=Catamaran|Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

h1.display-4{
   color: #28aaa1;
}

h5.header, th{
    color: #28aaa1;
}

h5, td{
    color: #096967;
}

.nav-link{
    color: #096967;
}

h6.display-4.font-weight-normal.mx-auto{
    color: #096967;
}

p{
    color: #28aaa1;
}

.centred{
    margin: 30px 60px;
}

.card-body h5 label .breadcrumb{
    color: #28aaa1;
}

.lead{
    color: #096967;
}

.mb-5 h4{
    color: #096967;
}

.mb-5 h5{
    color: #096967;
}

.breadcrumb{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #096967;
    font-size: medium;
}

.greeting{
    margin-top: 150px;
    text-align:center;
}

#loginForm{
    margin-top: 100px;
}

h3 strong{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #096967;
}

h5 strong{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #28aaa1;
    font-size: medium;
}

.custom-control-label{
    color: #096967;
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
}

.custom-control .custom-checkbox {
    display: inline-block;
}

.create_account{
    color: #28aaa1;
    font-size: medium;
    font-family: 'Archivo Black', sans-serif;
}

#queName, #queDescription,
select#queName#queDescription {
    background: transparent;
    border: none;
    border-bottom: 1px solid #1BA0B6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

#queName, #queDescription:focus,
select#queName#queDescription:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}







