@import url('https://fonts.googleapis.com/css?family=Catamaran|Didact+Gothic&display=swap');

h1.display-4{
   color: #28aaa1;
}

h5.header, th{
    color: #28aaa1;
}

h5,td{
    color: #096967;
}

h6.display-4.font-weight-normal.mx-auto{
    color: #096967;
}

p{
   color: rgb(72, 201, 180);
}

.centred{
    margin: 30px 60px;
}

.card-body h5 label .breadcrumb{
    color: #28aaa1;
}

.lead{
    color: #096967;
}

.mb-5 h4{
    color: #096967;
}

.mb-5 h5{
    color: #096967;
}

.breadcrumb{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #096967;
    font-size: medium;
}

.greeting{
    margin-top: 150px;
    text-align:center;
}

.custom-control-label{
    color: #096967;
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
}

.custom-control .custom-checkbox {
    display: inline-block;
}









