@import url('https://fonts.googleapis.com/css?family=Catamaran|Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');


html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}


h1.display-1, h5.header,
th, p, .card-body h5 label
.breadcrumb, h1.display-4 p.lead{
    color: #28aaa1;
}

#navlink, h5, td,
h6.display-4.font-weight-normal.mx-auto,
.lead, .mb-5 h4, .mb-5 h5{
    color: #096967;
}

#queCard{
    color: #f8f9fa;
    background: #f8f9fa;
    -webkit-box-shadow: -5px 7px 9px -6px rgba(184,184,184,1);
    -moz-box-shadow: -5px 7px 9px -6px rgba(184,184,184,1);
    box-shadow: -5px 7px 9px -6px rgba(184,184,184,1);
}

#queInfo{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #096967;
    font-size: x-large;
}

.breadcrumb{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #096967;
    font-size: medium;
}

.greeting{
    margin-top: 125px;
    margin-bottom: 150px;
    text-align:center;
}

.navbar {
    background-color: #ecf0f6;
    padding-bottom: 70px;
}

.developedBy p, .contacts p{
    color: #096967;
    font-size: small;
}

#loginForm{
    margin-top: 100px;
}

h3 strong{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #096967;
}

h5 strong{
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
    color: #28aaa1;
    font-size: medium;
}

.custom-control-label{
    color: #096967;
    font-family: 'Didact Gothic', 'Catamaran', sans-serif;
}

.custom-control .custom-checkbox {
    display: inline-block;
}

.create_account{
    color: #28aaa1;
    font-size: medium;
    font-family: 'Archivo Black', sans-serif;
}

.form-control:focus {
    box-shadow: none;
}

 .main {
    background: rgba(40, 170, 161, 0.69);
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(9, 105, 103, 0.69));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(9, 105, 103, 0.69));
    min-height: 100vh;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

#queName, #queDescription,
select#queName#queDescription {
    background: transparent;
    border: none;
    border-bottom: 1px solid #1BA0B6;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

#queName, #queDescription:focus,
select#queName#queDescription:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#greetingp{
    padding-top: 40px;
    font-size: 15px;
    font-style: oblique;
    font-weight:100;
}

.kit{
    width: 200px;
    height: 200px;
}

.pageBody{
    margin-bottom: 200px;
}

